body {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;  
  margin: 0;
  padding: 0;
}

iot-orientation {
  top: 130px;
}

iot-panel:nth-of-type( 1 ) {
  background-color: #1f3549;
}

iot-panel:nth-of-type( 2 ) {
  background-color: #182637;
}

iot-panel:nth-of-type( 3 ) {
  background-color: #323232;
}

iot-status {
  bottom: 0;  
  left: 0;
  position: absolute;  
  right: 0;
}

twitter-field {
  bottom: 0;  
  left: 0;
  position: absolute;  
  right: 0;
}
