body {
	background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;  
  margin: 0;
  padding: 0;	
}

svg {
  height: 56px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 56px;
}

.action {
  background-color: #2196F3;
  background-image: url( ../img/add.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  border-radius: 56px;
  bottom: 16px;
  box-shadow: 0 4px 4px rgba( 0, 0, 0, 0.20 );
  height: 56px;
  outline: none;
  position: absolute;
  right: 16px;
  width: 56px;
}

.gauge > .indicator {
  background-position: center 6px;
  background-repeat: no-repeat;
  background-size: auto 13px;
  border-radius: 53px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 50px;  
}

.gauge > .indicator > p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 66px;  
  margin: 0;
  padding: 0;
}

.instance {
  background-color: rgb( 65, 120, 190 );
  border-top: dashed 1px rgba( 255, 255, 255, 0.45 );
  display: flex;
  flex-direction: row;
  height: 76px;
}

.instance:first-of-type {
  border: none;
}

.instance > button {
  background: none;
  background-image: url( ../img/clear.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 76px;
  outline: none;
  width: 76px;
}

.instance > div {
  height: 76px;
  position: relative;  
  width: 76px;
}

.instance > .client {
  color: white;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 300;
  line-height: 76px;
  margin: 0 0 0 15px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.instance > .color {
  background-color: red;
  width: 5px;
}

.instance > .humidity {
  background-color: #182637;
}

.instance > .light {
  background-color: #323232;
}

.instance > .temperature {
  background-color: #1F354D;
}

.humidity .indicator {
  background-color: #182637; 
  background-image: url( ../img/weather.svg );    
}

.light .indicator {
  background-color: #323232; 
  background-image: url( ../img/summer.svg );    
}

.rates {
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.rates > p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 76px;
  margin: 0;
  opacity: 0.65;
  outline: none;
  padding: 0;
}

.rates > .field:focus {
  opacity: 1.0;
}

.rates > .separator {
  padding: 0 10px 0 10px;
}

.temperature .indicator {
  background-color: #1F354D; 
  background-image: url( ../img/thermometer.svg );    
}

.template {
  display: none;
}
