<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="image-splash">

  <template>
    <style>
      :host {
        background-position: center;
        background-repeat: none;
        background-size: cover;
        bottom: 0;
        left: 0;  
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
      }
    </style>

    <img id="preload">
  </template>

  <script>
    class ImageSplash extends Polymer.Element {
      static get is() { return 'image-splash'; }

      static get config() {
        return {
        	properties: {
            image: String
        	}
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.$.preload.addEventListener( 'load', evt => this.doLoad( evt ) );
        this.addEventListener( 'click', evt => this.doClick( evt ) );
      }

      change( path ) {
        this.style.backgroundImage = 'url( ' + path + ' )';
        this.style.visibility = 'visible';        
      }

      show( path='/img/not.impressed.jpg', preload=true ) {
        if( preload ) {
          this.$.preload.src = path;
        } else {
          this.change( path );
        }
      }

      doClick( evt ) {
        this.style.visibility = 'hidden';
      }

      doLoad( evt ) {
        this.change( this.$.preload.src );
        this.dispatchEvent( new CustomEvent( ImageSplash.PRELOAD, null ) );
      }
    }

    ImageSplash.PRELOAD = 'splash-preload';

    customElements.define( ImageSplash.is, ImageSplash );
  </script>
		
</dom-module>
