<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="iot-range">

  <template>
    <style>
      :host {
        display: flex;
        flex-direction: row;
      }

      div {
        cursor: default;
        display: flex;
        flex-basis: 0;
        flex-direction: row;
        flex-grow: 1;
        margin: 50px 0 0 0;
        padding: 0;
      }

      div:nth-of-type( 1 ) {
        justify-content: flex-end;  
      }

      div:nth-of-type( 2 ) {
        justify-content: center;  
      }

      div > p {
        font-size: 18px;
        font-weight: 300;    
        line-height: 20px;
        margin: 0;
        padding: 0;  
      }

      div > p:first-of-type {
        margin: 0 7px 0 0;
        opacity: 0.65;
      }

      div:last-of-type > p {
        font-weight: 700;
      }

      div:last-of-type > p:first-of-type {
        font-weight: 300;
      }      
    </style>

    <div>
      <p>Min:</p>
      <p>[[minimum]]</p>
      <p>[[units]]</p>
    </div>
    <div>
      <p>Max:</p>
      <p>[[maximum]]</p>
      <p>[[units]]</p>
    </div>  
    <div id="current" on-click="doNow">
      <p>Now:</p>
      <p>[[current]]</p>
      <p>[[units]]</p>
    </div>
  </template>

  <script>
    class Range extends Polymer.Element {
      static get is() { return 'iot-range'; }

      static get config() {
        return {
        	properties: {
            current: Number,
            maximum: Number,
            minimum: Number,
            readings: Array,
            showing: Number,
            units: String
        	}
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.readings = [];
      }

      change() {
        this.$.current.style.color = 
          'rgb( ' + 
          this.readings[this.showing].color.red + ', ' +
          this.readings[this.showing].color.green + ', ' +
          this.readings[this.showing].color.blue + 
          ' )';
        this.current = Math.round( this.readings[this.showing].current );        
      }

      push( client, color, current ) {
        var found = false;

        for( var c = 0; c < this.readings.length; c++ ) {
          if( this.readings[c].client == client ) {
            found = true;
            break;
          }
        }

        if( !found ) {
          this.readings.push( {
            client: client,
            color: color,
            current: current
          } );
          this.showing = this.readings.length - 1;
        } else {
          this.readings[c].current = current;
        }

        this.change();
      }

      doNow() {
        if( this.showing == ( this.readings.length - 1 ) ) {
          this.showing = 0;
        } else {
          this.showing = this.showing + 1;
        }

        this.change();
      }
    }

    customElements.define( Range.is, Range );
  </script>
		
</dom-module>
