<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../components/dashboard/iot-chart.html">
<link rel="import" href="../../components/dashboard/iot-range.html">

<dom-module id="iot-panel">

  <template>
    <style>
      :host {
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;        
        margin-bottom: 50px;
      }

      h1 {
        font-size: 27px;
        font-weight: 300; 
        line-height: 30px;   
        margin: 50px 0 0 0;
        padding: 0;
        text-align: center;
      }      

      .icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height:  100px;
        margin: 50px 0 0 0;
      }      
    </style>

    <h1>[[title]]</h1>
    <div class="icon" style$="background-image: url( /img/[[icon]] );"></div>
    <iot-range id="range" current="0" maximum="0" minimum="0" units="[[units]]"></iot-range>
    <iot-chart id="chart" points="[[points]]"></iot-chart>
  </template>

  <script>
    class Panel extends Polymer.Element {
      static get is() { return 'iot-panel'; }

      static get config() {
        return {
        	properties: {
            field: String,
            icon: String,
            points: Number,
            title: String,
            units: String
        	}
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this._count = 0;
        this._history = new Object();
      }

      push( reading ) {
        var found = false;
        var maximum = -999;
        var minimum = 999;

        for( const client of Object.keys( this._history ) ) {
          if( client == reading.client ) {
            this._history[client].values.push( reading[this.field] );

            if( this._history[client].values.length > this.points ) {
              this._history[client].values.splice( 
                0, 
                this._history[client].values.length - this.points 
              );
            }

            found = true;
          }

          for( var v = 0; v < this._history[client].values.length; v++ ) {
            if( this._history[client].values[v] < minimum ) {
              minimum = this._history[client].values[v];
            }

            if( this._history[client].values[v] > maximum ) {
              maximum = this._history[client].values[v];
            }
          }
        }

        if( !found ) {
          this._history[reading.client] = {
            color: reading.color,
            values: [reading[this.field]]
          }
          minimum = reading[this.field];
          maximum = reading[this.field];

          this._count = this._count + 1;

          this.dispatchEvent( new CustomEvent( Panel.SENSOR_COUNT, {
            detail: {
              count: this._count
            }
          } ) );          
        }

        this.$.range.minimum = Math.round( minimum );
        this.$.range.maximum = Math.round( maximum );
        this.$.range.current = Math.round( reading[this.field] );
        this.$.chart.draw( this._history );
      }
    }

    Panel.SENSOR_COUNT = 'panel-sensor-count';

    customElements.define( Panel.is, Panel );
  </script>
		
</dom-module>
